.navigation{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: white;
    align-items: center;
}

.nav-items{
    gap: 20px;
    list-style: none;
    align-items: center;
    display: flex;
   

}
.nav-link{
    text-decoration: none;
color: #5757;


}




